<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
      <ul>
        <% for (let i = 0; i< newListItems.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%= newListItems[i] %></p>
        </div>
        <% }%>
      </ul>
    <form action="/" method="post" class="item">
      <input  name="newItem" type="text" placeholder="New Item" autocomplete="off"/>
      <button type="submit" name="list" value=<%= listTitle %> >+</button>
    </form>
    </div>


<%- include("footer") -%>
